priority -50

###########################################################################
#                            TextMate Snippets                            #
###########################################################################
snippet /
/* ******************************************************************
 * $1
 * ******************************************************************/
endsnippet
