###########################################################################
#                            PHP Snippets                                 #
###########################################################################

snippet /
/* ********************************************************
 * ${0}
 * *******************************************************/
endsnippet
