snippet /
###########################################################################
#                            ${1}
###########################################################################
endsnippet

snippet s 
`!p snip.rv = "snippet"` ${1:Tab_trigger} "${2:Description}"
${0}
`!p snip.rv = "endsnippet"`
endsnippet
