###########################################################################
#                            VCL Snippets                                 #
###########################################################################

snippet /
# ####################################################
# $1
# ####################################################
$2
endsnippet
